[Unit]
Description=Service Neighborhood Guard remote access tunnel request
After=network.target

[Service]
Type=simple
User=placeholder
WorkingDirectory=/opt/cktunnel
ExecStart=/opt/cktunnel/cktunnel
Restart=always

[Install]
WantedBy=multi-user.target
